body {
    background-color: #f8f8f8;
}

html::before{
    content: '';
    background-image: url("../img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 263%;
    opacity: 0.2;    
}

.cabecalho {
    background-image: url("../img/titulo.jpg");
    width: 520px;
    height: 200px;
    margin-left: 380px;
    margin-bottom: 16px;
}

.lista-navegacao {
    margin-left: 380px;
    position: relative;
}

.lista-navegacao-outros {
    position: relative;
}

.bem-vindos {
    margin-bottom: 0px;
    position: relative;
}

.texto-pagina-inicial {
    width: 80%;
    margin-left: 9%;
    font-size: 19px;
    text-align: justify;
    position: relative;
}

.foto-netflix {
    margin-left: 210px;
    margin-bottom: 0;
}

.titulo-netflix {
    font-size: 25px;
    margin-left: 350px;
    margin-top: 0;
    position: relative;
}

.texto-netflix {
    margin-bottom: 0;
    position: relative;
}

.trailer-texto {
    margin-left: 350px;
    margin-bottom: 0;
}

.trailer-video {
    margin-top: 0;
    margin-left: 245px;
    position: relative;
}

.rodape {
    background-image: url("../img/titulopequeno.jpg");
    width: 100%;
    height: 47px;
    margin-bottom: 8px;
}

.texto-rodape {
    margin-left: 520px;
    padding: 20px 10px 0 10px;
    font-size: 20px;
    position: relative;
}

.imagem-rodape {
    margin-left: 600px;
    position: relative;
}

.form-adicionar-produtos {
    position: relative;
}

.form-adicionar-venda {
    position: relative;
}

.cabecalho-outros {
    background-image: url("../img/titulopequeno.jpg");
    width: 100%;
    height: 47px;
    margin-bottom: 8px;
}

.valor-total {
    margin-top: 50px;
    margin-bottom: 0;
}

.lista-vendas {
    background-color: white;
}

.imagem-estoque {
    width: 80px;
    height: 100px;
}
